body {
background: #E0E0E0 url("grp/body_bg.jpg") repeat-x top left;
margin:0px;
padding:0px;
}

* {
line-height:1.5em;
color:#676767;
font-family:Times New Roman, serif;
text-decoration:none;
font-size:1em;
letter-spacing:0.03em;
}

p {
text-align:justify;
}

h1, h2, h3 {
margin-top:0px;
line-height:1.5em;
margin-bottom:4px;
text-transform: uppercase;
font-weight:bold;
font-size: 140%;
text-align:left;
}

.main-content-block h1.title {
margin:0 0 -10px 0;
}


h2 {
font-size: 100%;}

h3 {
font-size: 100%;
}

h3#sitetitle {
font-size:250%;
text-align:center;
width:100%;
padding:10px 0 0 0;
margin:0px;
text-decoration:underline;
line-height:1.3em;
}

h3#sitetitle a {
line-height:1.3em;
}

h3#subtitle {
font-size:100%;
text-align:center;
padding:0;
margin:0px;
text-decoration:none;
}

.links, .small, .submitted, .breadcrumb {
font-size:0.7em; color:#C0C0C0;
}

.links, .submitted a, .breadcrumb a {
color:#C0C0dd;
}

.taxonomy ul {
font-size:0.8em; font-style:italic;
}
.links ul {
clear:both;
margin:auto;
display:inline-block;
width:98%;
border:solid 1px #cdcdcd;
background-color:#dedede;
}

.submitted {
display:block;
padding-left:16px;
background: url("grp/autor.gif") no-repeat top left;
}

a {
text-decoration:underline;
color:#2D3557;
line-height:18px;
}

a:hover {
color:#5884B2;
}

#logo-picture{
position:absolute;
float:left;
margin:8px 0 0 20px;
z-index:3;
}

div.topmenu {
width:991px;
height:34px;
margin:auto;
background: #E0E0E0 url("grp/topmenu_left.jpg") no-repeat top left;
}

div.topmenu ul.links {
background: #E0E0E0 url("grp/topmenu_bg.jpg") repeat-x top left;
margin:0 15px 0 15px;
height:34px;
display:block;
list-style-type: none;
}

.topmenu ul.links li {
font-variant:small-caps;
margin-left:0px;
padding:3px 20px 0 20px;
height:25px;
font-variant: small-caps;
float:left;
border-right:solid 1px #EDEDED;
font-size:1.35em;
}

.topmenu ul.links li a {
text-decoration:none;
}

div.topmenu_right {
float:right;
height:34px;
width:15px;
background: #E0E0E0 url("grp/topmenu_right.jpg") no-repeat top right;
display:inline;
}

div.header {
height:116px;
width:1031px;
margin:auto;
background: #E0E0E0 url("grp/header_bg.jpg") no-repeat top left;
text-align:center;
}

div.page {
margin:auto;
width:975px;
min-height:800px;
background: #FFFFFF url("grp/page_end.jpg") no-repeat bottom left;
padding:1px 8px 12px 8px;
margin-bottom:20px;
}

div.page hr {
color: #e0e0e0;
background-color: #e0e0e0;
height: 1px;
border:0px;
}

div.col_left {
width: 180px;
float:left;
overflow:hidden;
}

div.block {
display:inline-block;
}

div.block h2.title {
line-height:100%;
padding:0px;
margin:10px 0 10px 10px;
}
.clear-both {
clear:both;
width:100%;
}

ul.menu {
padding:0 0 0 8px;
margin:0px;
display:block;
}

ul.menu li,
ul.menu li.leaf,
ul.menu li.expanded,
ul.menu li.collapsed,
#rws-uni-tabs {
font-size:1em;
text-decoration:none;
list-style-type: none;
display:block;
margin-bottom:1px;
margin-left:-2px;
}

ul.menu li a,
ul.menu li.leaf a,
ul.menu li.expanded a,
ul.menu li.collapsed a,
#rws-uni-tabs a{
display:block;
text-decoration:none;
border-left:solid 6px #B0B0B0;
padding:5px 0 0 3px;
}

#rws-uni-tabs {
margin-left:3px;
}

#rws-uni-tabs li {
margin-bottom:1px;
margin-left:-36px;
}

ul.menu li a:hover,
ul.menu li.leaf a:hover,
ul.menu li.expanded a:hover,
ul.menu li.collapsed a:hover,
#rws-uni-tabs a:hover{
border-left:solid 6px #5884B2;
}

li.expanded ul {
display:block;
margin-left:12px;
font-size:0.92em;
}

li.expanded ul li {
border-bottom:solid 1px #ececec;
width:100%;
overflow:hidden;
}

ul.menu .active {
color:#5884B2;
font-weight:bold;
}

.col_center, .col_center_755, .col_center_935, .col_center_632 {
width: 452px;
padding:0 18px 0 18px;
display:inline-block;
margin-bottom:22px;
}

.col_center_632 {
width: 632px;
}

.col_center_755 {
width: 755px;
}

.col_center_935 {
width: 935px;
}

.col_center_632 img, .col_center img, .col_center_755 img, .col_center_935 img, .main-content-block img {
margin:0 4px 4px;
}

div.content, .content_after_blocks  {
margin-bottom:10px;
}

.content_after_blocks {
clear:both;
padding-left:10px;
background: #FFF url('grp/block_center_bg.gif') repeat-x top left;
display:block;
min-height:200px;
}

div.content h1 {
margin-bottom:-8px;
}

.node .picture {
display:inline-block;
float:right;
border:solid 1px #cdcdcd;
padding:1px;
margin:4px;
}

.main-content-block h1 a, h1 a {
display:block;
margin:8px 0px;
line-height:1.5em;
color:#676767;
}

div.content p, .main-content-block p {
line-height:1.2em;
}

.inline-right, .inline-left, .inline-center {
border:solid 1px red;
background-color:#EdEdEd;
border:solid 1px #E2E2E2;
display:inline-block;
padding:1px;
}
.caption {
font-size:0.95em;
text-align:center;
padding:2px;
}

.caption strong {
font-weight:normal;
}

div.col_right {
width: 303px;
min-height:300px;
float:right;
background: #FFF url("grp/col_right_bg.jpg") no-repeat top left;
padding-left:4px;
margin-bottom:6px;
}

div.col_right img {
padding-bottom:3px;
}

div.col_right div.block ul, div.col_right div.block ul li {
line-height:1em;
padding:0px;
text-decoration:none;
padding-left:14px;
list-style-type: none;
}

div.col_right div.block ul li a{
text-decoration:none;
}

.col_left .block-user {
width:100%;
background: #FFF url("grp/block_user_bg.jpg") no-repeat top left;
margin-top:6px;
}

.col_right .block-user {
width:100%;
/*background: url("grp/col_right_bg.jpg") no-repeat top left;*/
}

.more-link {
font-size:0.8em;
}

.item-list ul li {
font-size:0.8em;
list-style-type: none;
margin:0px;
padding:0px;
}

div.col_right input, div.col_left input {
padding:0px; margin:0px;
font-size:0.8em;
}

div.footer_top {
background: #efefef url("grp/footer_top.jpg") no-repeat top left;
height:5px;
margin:auto;
width:991px;
}

div.footer {
border-bottom:solid 1px #EEEEF0;
clear:both;
margin:auto;
margin-bottom:0px;
padding:10px 10px 0 10px;
background: #FFF url("grp/footer_bg.gif") repeat-x bottom left;
width:971px;
font-size:0.8em;
color:#C0C0C0;
line-height:1em;
display:block;
}

.footer-blocks .block {
width:24%;
float:right;
display:inline-block;}

.footer  *{
color:#bcbcbc;
}

.footer  p{
color:#bcbcbc;
text-align:right;
}

#footer-links {
border:solid 1px red;
float:right;
}

#search-box {
float:right;
font-size:0.8em;
font-weight:normal;
}

#search-box *{
font-weight:normal;
}

#search-box input{
border:1px;
border-style:outset;
background: #E0E0E0 url("grp/topmenu_bg.jpg") repeat-x 0px -8px;
}

#search-box input.form-submit, * input.form-submit {
background:#5884B2;
color:#ededed;
border:1px;
border-style:outset;
background: #6EADFD url("grp/button_bg.jpg") repeat-x 0px 0px;
}

a.edit-this-link {
display:block;
font-size:0.6em;
float:left;
}

.tab {
font-size:0.7em;
margin:0px;
}

ul.tabs {
padding:0px;
margin:4px 0;
line-height:0.6em;
}

ul.pager {
margin:auto;
margin-bottom:4px;
display:block;
width:100%;
}
ul.pager li {
margin:0px;
font-size:0.9em;
color:#cdcdcd;
}

span.inline-left, span.inline.left {
display: block;
float: left;
}
span.inline-right, span.inline.right {
display: block;
float: right;
}
span.inline-center, span.inline.center {
display: block;
text-align: center;
margin: 5px 5px 5px 5px;
}

span.caption {font-size:10px;}

.profile .picture {
float:none;
}

/*********** MESSAGES *************/
div.messages{
padding:8px;
margin: 1px 0 2px 0;
min-height:24px;
}

div.error {
background:#98C8FF url('grp/attention.gif') no-repeat top left;
border: 1px solid #ff0000;
font-weight: bold;
color: #444;
display:block;
min-height:38px;
padding-left:64px;
}

div.status {
background:#98C8FF;
padding-left:28px;
border: 1px solid #18FD00;
font-weight: bold;
color: #444;
display:block;
}

.error a {
color:#fff;
}

.error a:hover {
color:#ffe7e7;
}

div.messages ul {
padding:0;
}

/********************* box *******************/
.box{
border: 1px solid #c9c9c6;
background-color:#ededed;
padding:4px;
font-size:0.8em;
}

.item-list ul{
padding-left:0;
margin-top:5px;
}

.block-region {
color:#000;
font-weight:bold;
font-family: Tahoma;
padding-left:10px;
}

#user-login-form li.openid-link, #user-login li.openid-link {
margin-left:0;
padding-left:1.5em;
background-position:top left;
}

#user-login-form #edit-submit {
margin-bottom:10px;
}

/*** Comments ***/
.comment {
border: 1px solid #c9c9c6;
background-color:#ededed;
padding:4px;
margin-bottom:6px;
}

.comment .picture img {
float:right;
margin:3px;
border:1px solid #dadada;
padding:1px;
}

.comment .submitted {
font-size: 1em;
font-size: 11px;
display:inline;
}

.comment-author {
margin-bottom:6px;
font-weight:bold;
}

.comment-date {
margin-bottom:6px;
}

.this-link {
color:#aab7b7;
font-size:11px;
}

.this-link a {
color:#aab7b7;
}

.this-link a:visited {
color:#aab7b7;
}

.comment .new {
background:#5884B2;
color:#fff;
padding:1px 4px 1px 4px;
}

.comment .new a {
color:#fff;
text-decoration:none;
}

.comment .new a:hover {
color:#fff;
}

.comment p {
padding-bottom:6px;
}

.comment .content {
padding-top:10px;
}

.links-comment {
float:left;
margin:0;
padding:0;
color:#869999;
}

.links-comment ul.links {
margin:0;
padding:0;
}

.links-comment .links li {
font-size:0.85em;
padding:0;
margin-right:15px;
}

.links-comment a {
color:#869999;
}
.links-comment a:hover {
color:#517074;
}

.links-comment li.comment_reply a.comment_reply {
color:#349f00;
}

#comment-form .form-item {
margin-top:0;
}

#comment-form .resizable-textarea {
clear:both;
}

#comment-form .form-item label {
float:left;
padding-right:10px;
}

.admin-panel {
border:solid 1px #dedede;
}

div.admin .left, div.admin .right {
margin:0px;
padding:0px;
}
